body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #800020;
}

#cabecalho .nav .nav-link.active{
    background-color: #FFF5E1;
    color: #800020;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #FFF5E1;
}

.navbar-toggler {
    background-color: #FFF5E1;
}

.carousel-item img {
    width: 100%;
    height: 760px;
    object-fit: cover; 
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-restaurante, #cardapio {
    background-color:    #f5d3d7;
}

.text-colored {
    color: #800020;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #800020;
    color: #FFF5E1;
}

.nav-cardapio .nav-link:hover {
    color: #800020;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}